
a:link{ /*Unvisited Link Colour*/
    text-decoration: none;
    color: white;
    }
a:visited {
        text-decoration: none;
        color: white;
    }
    
a:hover {
        text-decoration: none;
        color: orangered;
    }
    
a:focus {
        text-decoration: none;
        color: white;
    }
    
a:active {
        text-decoration: none;
        color: white;
    }

header {
    display: flex;
    border: solid 1px red;
    position: fixed;
    margin: 5% 40% 20% 15%;
    width: 20%;
    height: 50%;
}

nav {
    border: solid 1px yellow;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-content: center;
    height: 50%;
    margin-top:10%;
}

body {

    border: solid 5px green;
    
    /* background-color:;*/ /*whitesmoke;*/
    background-image: linear-gradient(to right, rgb(0,0,0) 20% , rgb(0,0, 55) );
    justify-content: center;
    font-family: "Assistant", sans-serif;
    
    }

.mid {
    border: solid 3px green;
    display: flex;
    
}

.left {
    display: flex;
    flex-direction: column;
    border: solid 2px pink;
    position: fixed;
    margin: 0% 0% 5% 13%;
    width: 20%;
    height: 50%;
}



.right {
    
    width: 35%;    
    border: 1px solid red;
    margin: 5% 20% 5% 50%;
        /* margin-top: 3%;
        margin-left: 45%; */
        
    }

footer {
    border: solid 1px red;
    display: block;
    margin-left: 20px;
    margin-bottom: -15px;
}

h1 {
    color: white;
    font-weight: 800;
    
}

h2 {
    color: white;
    font-weight: 700;
    
}

h3 {
    color: white;
}

p {
    color: white;
    
}

img { 
    color: white; /*For alt text color*/
}

